digitalia_muni_entity.digitalia_muni_entity_type.*:
  type: config_entity
  label: 'Digitalia muni custom entity type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
